body {
    font-family: "Lato", sans-serif;
    margin: 0;
    background-color: #F7F7F7;
}

.Map {
    flex: 1;
    border: 2px solid black;
    
    
      }

.Report {
     
    flex: 1; 
    margin-left: 50px;
    border: 2px solid black;}   
    
    
.header {
    background-color: #90beab   ;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-emoji {
    font-size: 48px;
    margin: 0 auto;
    text-align: center;
}

.header-title {
    color: #FFFFFF;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
}

.header-description {
    color: #FFFFFF;
    margin: 4px auto;
    text-align: center;
    max-width: 384px;
}

.wrapper {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    max-width: 1024px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 32px;

}

.card {
    margin-bottom: 24px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
}
