body {
    font-family: "Lato", sans-serif;
    margin: 0;
    background-color: #F7F7F7;
}
    
   
.header {
    background-color: #90beab   ;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-emoji {
    font-size: 48px;
    margin: 0 auto;
    text-align: center;
}

.header-title {
    color: #FFFFFF;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
}

.header-description {
    color: #FFFFFF;
    margin: 4px auto;
    text-align: center;
    max-width: 384px;
}


.HTML{
    margin-bottom: 50px;

}

.wrapper {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    padding-right: 80px;
    padding-left: 80px;
    margin-top: 32px;

}


.Map {
    flex: 1;
    border: 2px solid black;
      }
.inframe_map {
        margin-left : 120px; 
        margin-bottom: 20px;
    }

.Report {
    flex: 1; 
    margin-left: 50px;
    border: 2px solid black
        }   

.left-stats{
    flex:1 ; 
    border: 2px solid black
}

.right-stats{
    flex:1 ; 
    margin-left: 40px;
    border: 2px solid black
}

